<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.luoren.system.mapper.MenuMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="top.luoren.system.entity.Menu" id="menuMap">
        <result property="id" column="id"/>
        <result property="parentId" column="parent_id"/>
        <result property="name" column="name"/>
        <result property="url" column="url"/>
        <result property="perms" column="perms"/>
        <result property="type" column="type"/>
        <result property="icon" column="icon"/>
        <result property="orderNum" column="order_num"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
    <select id="queryListParentId" resultType="top.luoren.system.entity.Menu">
        select * from sys_menu where parent_id = #{parentId} order by order_num asc
    </select>
    <select id="queryNotButtonList" resultType="top.luoren.system.entity.Menu">
        select * from sys_menu where type != 2 order by order_num asc
    </select>


</mapper>