<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.luoren.system.mapper.UserTokenMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="top.luoren.system.entity.UserToken" id="userTokenMap">
        <result property="userId" column="user_id"/>
        <result property="token" column="token"/>
        <result property="expireTime" column="expire_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <select id="queryByToken" resultType="top.luoren.system.entity.UserToken">
		select * from sys_user_token where token = #{token}
	</select>


</mapper>